<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace('no-js ','no-js').replace('no-js','');</script>
    <title>Vanilla Templates</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

    <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="HTMLResources/css/bootstrap.css">
	<link type="text/css" rel="stylesheet" href="HTMLResources/css/main.css">