/* Webfont: Knockout-67FullBantamwt */@font-face {
    font-family: 'Knockout67FullBantamwt';
    src: url('Knockout-67FullBantamwt.eot'); /* IE9 Compat Modes */
    src: url('Knockout-67FullBantamwt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Knockout-67FullBantamwt.woff') format('woff'), /* Modern Browsers */
         url('Knockout-67FullBantamwt.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Knockout-67FullBantamwt.svg#Knockout-67FullBantamwt') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

