.component.blockquote, blockquote.component {
  margin: 40px 15px 18px;
  padding: 15px 0;

	.first {
		font-family: $font-family1;
		font-size: 36px;
		font-size: 3.6rem;
		line-height: 30px;
		line-height: 3rem;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 5px 0;
		padding: 0;
		color: $brand-primary;
	}

	.second {
		font-family: $font-family3;
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 24px;
		line-height: 2.4rem;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
	}
}