.component.feature-four {

  .component.gallery {
    margin-bottom: 15px;
  }
  
  .heading {
    font-family: 'foundation_sansblack';
    font-size: 2.4rem;
    line-height: 2.2rem;
    margin-bottom: 5px;
  }

  .rating {
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: 11px;
  }

  .film-info {
    font-size: 1.6rem;
    line-height: 1.7rem;
  }

  .component.watch-trailer {
    margin-top: 20px;
  }
}