.component.footer {
	position: relative;
	color: $gray-lighter;
	font-family: $font-family3;
	font-size: 13px;
	line-height: 17px;

	&.with-tint {
		background: $gray-base;

		.bg {
			filter: alpha(opacity=50);
			opacity: 0.5;
		}
	}

	.next-link {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.bg {
		width: 100%;
	}

	.container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-top: $grid-gutter-width;
	}

	.title {
		font-family: $font-family1;
		font-size: 40px;
		line-height: 36px;
	}
}

.up-next {
	font-family: $font-family3;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.up-next-pic {
	background-image: url(/HTMLResources/img/components/footer/footer.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: transparent;
	background-size: cover;
	border-radius: 50px;
	float: left;
	width: 95px;
	height: 95px;
	margin: 0 0 10px 0;
}


