.component.hero {
	max-width: 100%;

	.intro {
		&.arrow {
			.component.arrow { display: block; }
		}
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		text-align: center;
		color: $gray-lighter;

		h1 {
			font-size: $font-size-intro-heading;
			line-height: 0.8;
		}
		.standfirst {
			font-family: $font-family3;
			font-weight: 700;
			font-size: $font-size-intro-sf;
			line-height: 1.09;
		}
		.component.arrow {
			margin-bottom: 0;
			margin-top: 20px;
			display: none;
		}
		a {
			color: $gray-lighter;
		}
	}

	.component.gallery {
		max-width: 100%;
		figcaption { display: none; }

		img {
			// max-height: 768px;
		}
	}
}