.component.rte {
	margin: 0 0 30px 0;

	p {
		margin: 35px 0 0 0;

		&:first-child {
			margin-top: 0;
		}
	}
	ol, ul {
		li { margin-top: 8px; }
	}

	ul {
		padding: 0 $grid-gutter-width;
		li {
			list-style-type: none;
			padding-left: ($grid-gutter-width / 2);
			text-indent: -$grid-gutter-width*1.5;
			&:before {
				content: '\f10c';
		    padding-right: $grid-gutter-width/2;
		    color: #00b6e7;
		    font-family: 'FontAwesome';
			}
		}
	}
}