<div class="component feature-three">
  <div class="component gallery full-width" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="HTMLResources/img/components/feature3/feat3image1.jpg" itemprop="contentUrl" data-size="320x405" class="gallery-thumb">
          <img src="HTMLResources/img/components/feature3/feat3image1.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
      <figcaption itemprop="caption description">
        <span class="cap-heading"></span>
        <span class="caption"></span>
      </figcaption>
    </figure>
  </div>
  <p class="heading">Prototype Gremlin Puppet</p>
  <p><strong>Gremlins 2: The New Batch (1990)</strong></p>
  <p class="copy">“Originally they asked me to do [Gremlins 2] and I wasn’t that interested. Chris Walas had done the original and I didn’t just want to reproduce somebody else’s designs. They said, ‘What can we do to make you interested?’ I wanted to redesign the gremlins and the mogwai. 
  I really wanted to make them individuals. The decisions they made on the original were right for that film, but I wanted to contribute ideas too. So we came up with the idea of the genetic lab where we could mutate the gremlins and have the vegetable gremlin and the spider gremlin and so on. Then it became much more appealing to me, to change Chris’ designs and do Rick Baker versions of them. It would be CG these days, but there is a certain charm to having something real, and you have to think cleverly about how you’re going to achieve all these different things.”</p>
  <p><strong>Estimated sale price: $1,000-$1,500</strong></p>
</div>