<div class="component feature-two">
	<div class="component gallery" itemscope itemtype="http://schema.org/ImageGallery">
	  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	    <a href="HTMLResources/img/components/feature1/feat2_image1.jpg" itemprop="contentUrl" data-size="288x150" class="gallery-thumb">
	        <img src="HTMLResources/img/components/feature2/feat2_image1.jpg" itemprop="thumbnail" alt="Image description" />
	    </a>
	    <figcaption itemprop="caption description">
    </figcaption>
	  </figure>
	</div>

	<p class="heading">Iron Man - 2008</p>
	<p>
		<strong>Director</strong> Jon Favreau<br>
		<strong>Players</strong> Robert Downey Jr., Samuel L. Jackson<br><br>
		Tony Stark returns home to discover Samuel L. Jackson as Nick Fury, director of S.H.I.E.L.D., who wants him in on a little thing called the “Avengers Initiative”. Jackson was smuggled onto set in complete secrecy. Naturally, news of his cameo leaked everywhere. We blame Hydra spies.<br><br>
		<strong>Sets up</strong> Avengers Assemble. Right from the off.
	</p>
</div>