<div class="component feature-four">
  <div class="component gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="HTMLResources/img/components/feature4/image1.jpg" itemprop="contentUrl" data-size="1200x1210" class="gallery-thumb">
          <img src="HTMLResources/img/components/feature4/image1.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
      <figcaption itemprop="caption description">
    </figcaption>
    </figure>   
  </div>

  <div class="component heading">Selma</div>
  <div class="component rating top">aaaaa</div>
  <div class="component film-info"><strong>2015</strong> / From <strong>Now</strong> / Cert <strong>PG</strong></div>
  <div class="component availability">
    <span class="dvd"></span> 
    <span class="br"></span>
    <span class="a"></span>
    <span class="n"></span>
    <span class="ss"></span>
    <span class="apple"></span>            
    <span class="sm"></span>  
  </div>
  <div class="component rte">
    <p>The most tragically relevant film of this year’s Oscars, Selma is an ensemble story of the historic civil-rights marches that forced change in the US. David Oyelowo’s Martin Luther King Jr. is the standout, while the carefully composed direction of Ava DuVernay makes the bubbling anger that drives characters and film all the more powerful. <span class="author">HOH</span></p>
  </div>

  <div class="component watch-trailer">
    <a href="#">
      <span>Watch Trailer</span>
      <iframe id="player" class="player" type="text/html" src="https://www.youtube.com/embed/x6t7vVTxaic?enablejsapi=1&amp;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
    </a>
  </div>
</div>