<div class="component feature-one">
	<div class="component gallery full-width" itemscope itemtype="http://schema.org/ImageGallery">
	  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	    <a href="HTMLResources/img/components/feature1/hero1.jpg" itemprop="contentUrl" data-size="320x240" class="gallery-thumb">
	        <img src="HTMLResources/img/components/feature1/hero1.jpg" itemprop="thumbnail" alt="Image description" />
	    </a>
	    <figcaption itemprop="caption description">
    </figcaption>
	  </figure>	  
	</div>
	<p class="dropcap">
		<strong>1 Take A Cut Of The Profits</strong> To play the title role in the 1911 Australian film Sweet Nell Of Old Drury, Aussie stage legend Nellie Stewart agreed a fee of £1,000 plus a share of the profits, the first recorded instance of a film star getting a cut of the points. Sly’s Rocky(s), Jack’s Joker, Tom’s Missions and the rest were decades away.
	</p>
	<p class="verdict"><strong>D’OH!</strong> Donald Sutherland is said to have lost out on $20 million of Animal House profits by instead sticking with his $50,000 fee.</p>
</div>