<div class="container">
	<div class="row">
		<div class="component footer with-tint prev hidden-xs">	
				<a href="#" class="next-link"></a>
				<img src="HTMLResources/img/components/footer/footer.png" alt="" class="bg img-responsive">
				<div class="container">
					<div class="component rte">
						<p class="up-next text-uppercase">Previously</p>
						<p class="title">Footer component</p>
						<p>Nos doloris nobisqu ossint eaquias peliqua temquas exerend andeliq uiantios earchitatem atur alignis quam, sima aspis arit laut quodios aspe cum que ea quid que vellore.</p>
					</div>
				</div>
		</div>

		<div class="component footer with-tint next">	
				<a href="#" class="next-link"></a>
				<img src="HTMLResources/img/components/footer/footer.png" alt="" class="bg img-responsive">
				<div class="container">
					<div class="component rte">
						<p class="up-next text-uppercase">Up Next</p>
						<p class="title">Wolverine</p>
						<p>Wolverine actor Hugh Jackman has shared a few new details on his final standalone movie centered around the regenerating mutant...</p>
					</div>
				</div>
		</div>
	</div>
</div>