<div class="component gallery js-carousel js-modal gallery-pullout-one" itemscope itemtype="http://schema.org/ImageGallery">

  <div class="component pullout-caption">
    <div class="border"></div>
    <div class="text">Birdwatching</div>
  </div> 

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/hero1.jpg" itemprop="contentUrl" data-size="1200x1210" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/hero1_t.jpg" itemprop="thumbnail" alt="Image description" class="img-responsive" />
    </a>
    <figcaption itemprop="caption description">
      <p>Call of the wild: the grey wolf could help regulate deer numbers. Photograph: Alamy</p>
    </figcaption>
                                        
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/hero2.jpg" itemprop="contentUrl" data-size="1024x1211" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/hero2_t.jpg" itemprop="thumbnail" alt="Image description" class="img-responsive" />
    </a>
    <figcaption itemprop="caption description">
      <p>Call of the wild: the grey wolf could help regulate deer numbers. Photograph: Alamy</p>
    </figcaption>
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/hero3.jpg" itemprop="contentUrl" data-size="1024x1211" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/hero3_t.jpg" itemprop="thumbnail" alt="Image description" class="img-responsive" />
    </a>
    <figcaption itemprop="caption description">
      <p>Call of the wild: the grey wolf could help regulate deer numbers. Photograph: Alamy</p>
    </figcaption>
  </figure>
  <div class="gallery-info">
    <p>Brad Bird’s filmography, in poster form</p>
  </div>
</div>