<div class="component gallery js-carousel dots" itemscope itemtype="http://schema.org/ImageGallery">
  <h3>Carousel Component</h3>
  <p class="subheading">List subheading.  At the rear of the sled toiled a second man. On the sled, in the box</p>
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/hero1.jpg" itemprop="contentUrl" data-size="1200x1210" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/hero1_t.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <h5>Item Heading, Footnotes</h5>
      <p><strong>Description.</strong> An hour went by, and a second hour. The pale light of the short sunless day was beginning to fade, when a faint .</p>
    </figcaption>
                                        
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/hero2.jpg" itemprop="contentUrl" data-size="1024x1211" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/hero2_t.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <h5>Item Heading 2, Footnotes with a much longer description</h5>
      <p class="subheading">Call of the wild 2: the grey wolf could help regulate deer numbers 2. Photograph: Alamy 2</p>
    </figcaption>
  </figure>
</div>