<div class="component gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/hero3.jpg" itemprop="contentUrl" data-size="1200x1210" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/hero3_t.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <p>Call of the wild: the grey wolf could help regulate deer numbers. Photograph: Alamy</p>
    </figcaption>
  </figure>	  
</div>