<div class="component gallery carousel modal gallery-pullout-two full-width" itemscope itemtype="http://schema.org/ImageGallery">

  <div class="component pullout-caption">
    <div class="border"></div>
    <div class="text"></div>
  </div>
  
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/gallery-pullout1.jpg" itemprop="contentUrl" data-size="799x1226" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/gallery-pullout_1.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">SAGA</span>
      <span class="caption"><strong>Creators</strong> Brian K. Vaughan, Fiona Staples <strong>Publisher</strong> Image.
Epic space opera in which two warring alien races hunt down the members of their tribes who dared fall in love and have a baby. Someone’s already described it as “Star Wars meets Game Of Thrones”...</span>
    </figcaption>                                        
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/gallery-pullout2.jpg" itemprop="contentUrl" data-size="801x1231" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/gallery-pullout_2.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">GRENDEL</span>
      <span class="caption"><strong>Creator</strong> Matt Wagner <strong>Publisher</strong> Comico
Then Dark Horse Novelist Hunter Rose by day, criminal mastermind Grendel by night, this series has a strong undercurrent of morality. It’s a little like ’98 serial-killer movie Fallen, but way more stylish.</span>
    </figcaption>                                        
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/gallery-pullout3.jpg" itemprop="contentUrl" data-size="814x1254" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/gallery-pullout_3.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">FRAY</span>
      <span class="caption"><strong>Creators</strong> Joss Whedon, Karl Moline <strong>Publisher</strong> Dark Horse
Set centuries after Buffy, this Joss Whedon story imagines a future where vampires are again on the rise but the one girl who can stop them is ill-equipped to meet the threat.</span>
    </figcaption>                                        
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/gallery-pullout4.jpg" itemprop="contentUrl" data-size="814x1241" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/gallery-pullout_4.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">SLáINE</span>
      <span class="caption"><strong>Creators</strong> Pat Mills, Angela Kincaid <strong>Publisher</strong> 2000 AD/ IPC Media
We’ve had adaptations of Greek and Roman myths; it must be the turn of the Celts. Sláine is a warrior who becomes a king, and then the incarnation of the Horned God. Nice work if you can get it.</span>
    </figcaption>                                        
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/gallery-pullout5.jpg" itemprop="contentUrl" data-size="814x1240" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/gallery-pullout_5.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">LOCKE AND KEY</span>
      <span class="caption"><strong>Creators</strong> Joe Hill, Gabriel Rodriguez <strong>Publisher</strong> IDW
A bereaved family move back to the ancestral home and discover strange keys that open doors to weirdness. A TV pilot was 
never picked up; maybe a movie is the answer.</span>
    </figcaption>                                        
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/gallery-pullout6.jpg" itemprop="contentUrl" data-size="814x1183" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/gallery-pullout_6.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">CONCRETE</span>
      <span class="caption"><strong>Creators</strong> Paul Chadwick <strong>Publisher</strong> Dark Horse
Aliens aren’t always content to just probe you. Sometimes they stick your consciousness in a golem. This story could be a whimsical, thoughtful look at being human, and being different.</span>
    </figcaption>                                        
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/gallery-pullout7.jpg" itemprop="contentUrl" data-size="814x1221" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/gallery-pullout_7.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">100 BULLETS</span>
      <span class="caption"><strong>Creators</strong> Brian Azzarello, Eduardo Risso <strong>Publisher</strong> Vertigo.
Someone’s wronged you. A government agent gives you the name of those responsible, and 100 bullets that will draw no law enforcement reaction. What do you do? That’s the dilemma at the heart of this gripping noir.</span>
    </figcaption>                                        
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/gallery-pullout8.jpg" itemprop="contentUrl" data-size="814x1252" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/gallery-pullout_8.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">Y — THE LAST MAN</span>
      <span class="caption"><strong>Creators</strong> Brian K. Vaughan, Pia Guerra <strong>Publisher</strong> Vertigo
In development since 2007, the rights to this tale of a pandemic that kills every male — bar one — have reverted. Shia LaBeouf was set to star. This will need a fresh start.</span>
    </figcaption>                                        
  </figure>

  
    <div class="gallery-info">
      <p class="heading">NEW UNIVERSES?</p>
      <p class="text">Empire selects the coolest comic-book properties that we’d most like to see given the movie treatment.</p>
      <p class="words"><strong>Words</strong> Helen O’Hara</p>
    </div>
</div>