<div class="component gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="text-center">
    <a href="HTMLResources/img/components/gallery/hero3.jpg" itemprop="contentUrl" data-size="1200x1210" class="gallery-thumb">
    	<picture>
        <source srcset="HTMLResources/img/components/gallery/hero3_t.jpg" media="(min-width: 769px)">
        <source srcset="HTMLResources/img/components/gallery/hero3_t.jpg" media="(min-width: 480px)">
        <img srcset="HTMLResources/img/components/gallery/hero3_t.jpg" itemprop="thumbnail" alt="…" class="img-responsive">
      </picture>
    </a>
    <figcaption itemprop="caption description" class="text-left">
      <p>Call of the wild: the grey wolf could help regulate deer numbers. Photograph: Alamy</p>
    </figcaption>
  </figure>	  
</div>