<div class="component gallery carousel modal gallery-pullout-one" itemscope itemtype="http://schema.org/ImageGallery">

  <div class="component pullout-caption">
    <div class="border"></div>
    <div class="text">Birdwatching</div>
  </div> 

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/hero1.jpg" itemprop="contentUrl" data-size="1200x1210" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/hero1_t.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">SAGA</span>
      <span class="caption"><strong>Creators</strong> Brian K. Vaughan, Fiona Staples <strong>Publisher</strong> Image.
Epic space opera in which two warring alien races hunt down the members of their tribes who dared fall in love and have a baby. Someone’s already described it as “Star Wars meets Game Of Thrones”...</span>
    </figcaption>
                                        
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/hero2.jpg" itemprop="contentUrl" data-size="1024x1211" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/hero2_t.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">GRENDEL</span>
      <span class="caption"><strong>Creators</strong>  Matt Wagner <strong>Publisher</strong> Comico
Then Dark Horse Novelist Hunter Rose by day, criminal mastermind Grendel by night, this series has a strong undercurrent of morality. It’s a little like ’98 serial-killer movie Fallen, but way more stylish.</span>
    </figcaption>
  </figure>

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="HTMLResources/img/components/gallery/hero3.jpg" itemprop="contentUrl" data-size="1024x1211" class="gallery-thumb">
        <img src="HTMLResources/img/components/gallery/hero3_t.jpg" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
      <span class="cap-heading">GRENDEL</span>
      <span class="caption"><strong>Creators</strong>  Matt Wagner <strong>Publisher</strong> Comico
Then Dark Horse Novelist Hunter Rose by day, criminal mastermind Grendel by night, this series has a strong undercurrent of morality. It’s a little like ’98 serial-killer movie Fallen, but way more stylish.</span>
    </figcaption>
  </figure>
  <div class="gallery-info">
    <p>Brad Bird’s filmography, in poster form</p>
  </div>
</div>