<div class="menu">
  <div class="inner">
    <a href='#' class="close"></a>
    <div class="wrap">
  		<p class="date">July 2015</p>
  		<p class="empire">i</p>
  	</div>

    <a href="#" class="nav-link cover">Cover</a>
    <a href="navto://Template1" class="nav-link premier">Premiere</a>
    <a href="navto://Template2" class="nav-link incinemas">In Cinemas</a>
    <a href="#" class="nav-link features">Features</a>
    <a href="#" class="nav-link review">Review</a>
    <a href="goto://ApplicationViewState/library" class="nav-link back">Empire Library</a>
  </div>
</div>