<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="theme1">
	<div><a href="#skipnav" class="skip">Skip to main content</a></div>

		<div class="wrapper">

			<!--(bake /templates/structure/header.html)-->

			<div id="main">
		    <a id="skipnav" tabindex="-1"></a>

  		    <div class="component hero">
  	         <div class="component gallery js-carousel js-modal" itemscope itemtype="http://schema.org/ImageGallery">
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="HTMLResources/img/components/gallery/hero1.jpg" itemprop="contentUrl" data-size="1200x1210" class="gallery-thumb">
                    <img src="HTMLResources/img/components/gallery/hero1_t.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">
                  <p>Call of the wild: the grey wolf could help regulate deer numbers. Photograph: Alamy</p>
                </figcaption>
                                                    
              </figure>

              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="HTMLResources/img/components/gallery/hero2.jpg" itemprop="contentUrl" data-size="1024x1211" class="gallery-thumb">
                    <img src="HTMLResources/img/components/gallery/hero2_t.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">
                  <p>Call of the wild: the grey wolf could help regulate deer numbers. Photograph: Alamy</p>
                </figcaption>
              </figure>

              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="HTMLResources/img/components/gallery/hero3.jpg" itemprop="contentUrl" data-size="1024x1211" class="gallery-thumb">
                    <img src="HTMLResources/img/components/gallery/hero3_t.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">
                  <p>Call of the wild: the grey wolf could help regulate deer numbers. Photograph: Alamy</p>
                </figcaption>
              </figure>
            </div>
  				</div><!-- #hero -->

          <div class="container">
            <h1 class="component">Heading One EYE stalked the wolf</h1>

            <div class="row">
              <div class="col-xs-4"><p>V12 naturally aspirated, quad-port fuel injected.</p></div>
              <div class="col-xs-4"><p>Six cylinder twin carburettor tripple jet fuel feed.</p></div>
              <div class="col-xs-4"><p>Stand First, the different lines were rapidly approaching a point, somewhere out there in the snow.</p></div>
            </div>            

            <div class="component rte">
              <p class="component standfirst">Stand First, the different lines were rapidly approaching a point, somewhere out there in the snow.</p>
              <p class="component credits">Credits, transcribed from the 1915 Methuen and Co edition by  David Price, Photography Marie Knotková,  Illustrations Jan-Erik Jansson</p>       
              <p>Dark spruce forest frowned on either side the frozen waterway. The trees had been stripped by a recent wind of their white covering of frost, and they seemed to lean towards each other, black and ominous, in the fading light. A vast silence reigned over the land. The land itself was a desolation, lifeless, without movement, so lone and cold that the spirit of it was not even that of sadness.</p>
              <p>They travelled on without speech, saving their breath for the work of their bodies. On every side was the silence, pressing upon them with a tangible presence. It affected their minds as the many atmospheres of deep water affect the body of the diver. It crushed them with the weight of unending vastness and unalterable decree.</p>
            </div> <!-- .rte -->

            <h1 class="component">Heading One EYE stalked the wolf</h1>

            <div class="component rte">          
              <p>But there was life, abroad in the land and defiant. Down the <strong>Bold frozen waterway</strong> wolfish dogs. Their bristly fur was rimed with frost. <em>Italic heir breath froze</em> in the air as it left their mouths, spouting forth in spumes <strong><em>Bold Italic a string of</em></strong> of vapour that settled upon the hair of their bodies and formed into crystals of frost. <a href="#">Hyperlinked text.</a> Leather harness was on the dogs</p>
            </div> <!-- .rte -->

            <h2 class="component">Heading Two the she-wolf the she-wolf</h2>

            <div class="component rte">          
              <p>It crushed them into the remotest recesses of their own minds, pressing out of them, like juices from the grape, all the false ardours and exaltations and undue self-values of the human soul, until they perceived themselves finite and small, specks and motes, moving with weak cunning and little wisdom amidst the play and inter-play of the great blind elements and forces.</p>
            </div> <!-- .rte -->

            <h3 class="component">Heading Three the she-wolf the she-wolf</h3>

            <div class="component rte">          
              <p>In advance of the dogs, on wide snowshoes, toiled a man. At the rear of the sled toiled a second man. On the sled, in the box, lay a third man whose toil was over,—a man whom the Wild had conquered and beaten down until he would never move nor struggle again. It is not the way of the Wild to like movement.</p>
            </div> <!-- .rte -->

            <h4 class="component">Heading four the hunger cry the hunger cry</h4>

            <div class="component rte">          
              <ol>
                <li>The wall of the world. The land itself was a desolation, lifeless, without movement</li>
                <li>The law of meat. It was the masterful and incommunicable wisdom of eternity laughing</li>
                <li>The makers of fire. But there was life, abroad in the land and defiant.</li>
                <li>The bondage. Their breath froze in the air as it left their mouths</li>
                <li>The outcast</li>
                <li>The trail of the gods. In advance of the dogs, on wide snowshoes, toiled a man. At the rear of the sled toiled a second man.</li>
              </ol>
            </div> <!-- .rte -->

            <h5 class="component">Heading five,  Unordered List Unordered List Heading</h5>

            <div class="component rte">          
              <ul>
                <li>The wall of the world. The land itself was a desolation, lifeless, without movement</li>
                <li>The law of meat. It was the masterful and incommunicable wisdom of eternity laughing</li>
                <li>The makers of fire. But there was life, abroad in the land and defiant.</li>
                <li>The bondage. Their breath froze in the air as it left their mouths</li>
                <li>The outcast</li>
                <li>The trail of the gods. In advance of the dogs, on wide snowshoes, toiled a man. At the rear of the sled toiled a second man.</li>
              </ul>

              <p>They travelled on without speech, saving their breath for the work of their bodies. On every side was the silence, pressing upon them with a tangible presence. It affected their minds as the many atmospheres of deep water affect the body of the diver. It crushed them with the weight of unending vastness and unalterable decree.</p>
            </div> <!-- .rte -->

            <blockquote class="component">
              <p class="first">“Eyelashes and cheeks and lips were so coated with the crystals from their frozen breath”</p>
              <p class="second">Jack London</p>
            </blockquote>
          
            <div class="component rte"> 
              <p>But at front and rear, unawed and indomitable, toiled the two men who were not yet dead. Their bodies were covered with fur and soft-tanned leather. Eyelashes and cheeks and lips were so coated with the crystals from their frozen breath that their faces were not discernible.</p>
            </div>

            <h6 class="component">Heading Six, Footnotes Pitting themselves against</h6>

            <p class="component footnote"><strong>Footnotes Style.</strong> An hour went by, and a second hour. The pale light of the short sunless day was beginning to fade, when a faint far cry arose on the still air. It soared upward with a swift rush, till it reached its topmost note, where it persisted, palpitant and tense, and then slowly died away. It might have been a lost soul wailing, had it not been invested with a certain sad fierceness and hungry eagerness. </p>

            <div class="component rte">
              <p>This gave them the seeming of ghostly masques, undertakers in a spectral world at the funeral of some ghost. But under it all they were men, penetrating the land of desolation and mockery and silence, puny adventurers bent on colossal adventure, pitting themselves against the might of a world as remote and alien and pulseless as the abysses of space.</p>
            </div>
          </div> <!-- End .container -->

          <!--(bake /templates/components/_gallery-modal-pullout2.html)-->

          <div class="container">
            <div class="component rte">
              <p>A second cry arose, piercing the silence with needle-like shrillness. Both men located the sound. It was to the rear, somewhere in the snow expanse they had just traversed. A third and answering cry arose, also to the rear and to the left of the second cry. But there was life, abroad in the land and defiant. Down the frozen waterway toiled a string of wolfish dogs. Their bristly fur was rimed with frost. Their breath froze in the air as it left their mouths, spouting forth in spumes of vapour that settled upon the hair of their bodies and formed into crystals of frost.</p>
            </div>
          </div>

          <!--(bake /templates/components/_gallery-single.html)-->

          <div class="container">
            <div class="component rte">
              <p>Leather harness was on the dogs, and leather traces attached them to a sled which dragged along behind. The sled was without runners. It was made of stout birch-bark, and its full surface rested on the snow. The front end of the sled was turned up, like a scroll, in order to force down and under the bore of soft snow that surged like a wave before it. On the sled, securely lashed, was a long and narrow oblong box. There were other things on the sled—blankets, an axe, and a coffee-pot and frying-pan; but prominent, occupying most of the space, was the long and narrow oblong box.</p>
            </div>
          </div>

          <!--(bake /templates/components/_gallery-modal.html)-->

          <div class="container">
            <div class="component rte">
              <p>In advance of the dogs, on wide snowshoes, toiled a man. At the rear of the sled toiled a second man. On the sled, in the box, lay a third man whose toil was over,—a man whom the Wild had conquered and beaten down until he would never move nor struggle again.</p>
            </div>
          </div>

          <div class="container">
            <!--(bake /templates/components/_gallery-single.html)-->
          </div>

          <div class="container">
            <div class="component rte">
              <p>It is not the way of the Wild to like movement. Life is an offence to it, for life is movement; and the Wild aims always to destroy movement. It freezes the water to prevent it running to the sea; it drives the sap out of the trees till they are frozen to their mighty hearts; and most ferociously and terribly of all does the Wild harry and crush into submission man—man who is the most restless of life, ever in revolt against the dictum that all movement must in the end come to the cessation of movement.</p>
            </div>
          </div>

          <div class="container">
            <!--(bake /templates/components/_gallery.html)-->
            <div class="component rte">
              <p>But at front and rear, unawed and indomitable, toiled the two men who were not yet dead. Their bodies were covered with fur and soft-tanned leather. Eyelashes and cheeks and lips were so coated with the crystals from their frozen breath that their faces were not discernible. This gave them the seeming of ghostly masques, undertakers in a spectral world at the funeral of some ghost.</p>
            </div>

            <!--(bake /templates/components/_pull-out-box.html)-->

            <div class="component rte">
              <p>But under it all they were men, penetrating the land of desolation and mockery and silence, puny adventurers bent on colossal adventure, pitting themselves against the might of a world as remote and alien and pulseless as the abysses of space. They travelled on without speech, saving their breath for the work of their bodies. On every side was the silence, pressing upon them with a tangible presence.</p>
            </div>
          </div>         

          <!--(bake /templates/components/_gallery-single-withbg.html)-->

          <div class="container">
            <div class="component rte">
              <p>It affected their minds as the many atmospheres of deep water affect the body of the diver. It crushed them with the weight of unending vastness and unalterable decree. It crushed them into the remotest recesses of their own minds, pressing out of them, like juices from the grape, all the false ardours and</p>
            </div>
          </div>

          <figcaption itemprop="caption description">
            Linked to hosted video (mp4/ogg etc.)
          </figcaption>

          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <video src="HTMLResources/vid/other.mp4" width="100%" height="100%"></video>
          </div>

          <div class="container">
            <div class="component rte">
              <p>exaltations and undue self-values of the human soul, until they perceived themselves finite and small, specks and motes, moving with weak cunning and little wisdom amidst the play and inter-play of the great blind elements and forc</p>
            </div>
          </div>

          <figcaption itemprop="caption description">
            Embedded youtube vid
          </figcaption>

          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/iq6EPRYN0T0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>

          <div class="container">
            <div class="component rte">
              <p>exaltations and undue self-values of the human soul, until they perceived themselves finite and small, specks and motes, moving with weak cunning and little wisdom amidst the play and inter-play of the great blind elements and forc</p>
            </div>
          </div>

          <div class="container">
            <div class="component rte">
              <p>exaltations and undue self-values of the human soul, until they perceived themselves finite and small, specks and motes, moving with weak cunning and little wisdom amidst the play and inter-play of the great blind elements and forc</p>
            </div>
          </div>

        <!--(bake /templates/components/_back-to-top.html)-->

        <!--(bake /templates/components/_footer.html)-->

      </div><!-- #main -->
			
		</div><!-- .wrapper -->

		<!--(bake /templates/structure/footer.html)-->

    	

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

      <!-- Background of PhotoSwipe. 
           It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">

          <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
          <div class="pswp__container">
              <!-- don't modify these 3 pswp__item elements, data is added later on -->
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
          </div>

          <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
          <div class="pswp__ui pswp__ui--hidden">

              <div class="pswp__top-bar">

                  <!--  Controls are self-explanatory. Order can be changed. -->

                  <div class="pswp__counter"></div>

                  <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                  <button class="pswp__button pswp__button--share" title="Share"></button>

                  <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                  <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                  <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                  <!-- element will get class pswp__preloader--active when preloader is running -->
                  <div class="pswp__preloader">
                      <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                          <div class="pswp__preloader__donut"></div>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                  <div class="pswp__share-tooltip"></div> 
              </div>

              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>

              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>

              <div class="pswp__caption">
                  <div class="pswp__caption__center"></div>
              </div>

              <div class="wrapper-caption">              
              </div>

            </div>
          </div>
      </div> 
	  <div class="loading"></div>    
  </body>
</html>